<!--<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> inicio </ion-title>
  </ion-toolbar>
</ion-header>-->
<app-header></app-header>
<ion-content>
<div id="container">
  <p>Bienvenidos a mi App</p>
  
    <!--<ion-button [routerLink]="['/clientes']" color="mycolor">Go to detail</ion-button>-->

</div>
</ion-content>
